<div class="recipeResult">
  <h3><a href="/recipe/all/"><%= Recipes.title %></a></h3>
  <h3>ID: <%= Recipes._id %></h3>
  <h3>Ingredients:</h3>
  <% Recipes.ingredients.forEach(function(ingredient) { %>
    <p><%= ingredient %></p>
  <% }); %>
  <a href="/recipe/all/">See More >></a>
</div>