<h1>Search Results</h1>
<p>Number of results: <%= searchResults.length %></p>
<% if (searchResults.length === 0) { %>
    <p>No results found.</p>
<% } else { %>
    <ul>
        <% searchResults.forEach(result => { %>
            <% console.log(result); %>
            <li>
                <% if (result.type === 'products') { %>
                    <!-- Include product result template -->
                    <% include('productResult.ejs', { product: result }) %> 
                <% } else if (result.type === 'customer') { %>
                    <!-- Include customer result template -->
                    <% include('customerResult.ejs', { searchResults: result }) %> 
                <% } else if (result.type === 'customer_account') { %>
                    <!-- Include customer account result template -->
                    <% include('customerAccountResult.ejs', { searchResults: result }) %> 
                <% } else if (result.type === 'customer_address') { %>
                    <!-- Include customer address result template -->
                    <% include('customerAddressResult.ejs', { searchResults: result }) %> 
                <% } else if (result.type === 'vendor') { %>
                    <!-- Include vendor result template -->
                    <% include('vendorResult.ejs', { vendor: result }) %> 
                <% } else if (result.type === 'recipes') { %>
                    <!-- Include recipe result template -->
                    <% include('recipeResult.ejs', { recipe: result }) %> 
                <% } else { %>
                    <p>Unknown result type.</p>
                <% } %>
            </li>
        <% }); %>
    </ul>
<% } %>