<h1>Search Results</h1>
<p>Number of results: <%= searchResults.length %></p>
<% if (searchResults.length === 0) { %>
    <p>No results found.</p>
<% } else { %>
        <% searchResults.forEach(function(result) { %>
            <%= console.log(result) %>
            <% if (result.type === 'products') { %>
              <% include('productResult.ejs', { products: result }) %> 
            <% } else if (result.type === 'customer') { %>
              <% include('customerResult.ejs', { customer: result }) %> 
            <% } else if (result.type === 'customer_account') { %>
                <% include('customerAccountResult.ejs', { customerAccount: result }) %>
            <% } else if (result.type === 'customer_address') { %>
                <% include('customerAddressResult.ejs', { customerAddress: result }) %>
            <% } else if (result.type === 'vendor') { %>
              <% include('vendorResult.ejs', { vendor: result }) %> 
            <% } else if (result.type === 'vendor_address') { %>
                <% include('vendorAddressResult.ejs', { vendor_address: result }) %> 
            <% } else if (result.type === 'recipes') { %>
              <% include('recipeResult.ejs', { recipes: result }) %> 
            <% } else { %>
              <p>Unknown result type: <%= result.type %>. Please check your data.</p>
              <p><%= result %></p>
            <% } %>
          <% }) %>
<% } %>