<h1>Search Results</h1>
    
<% if (searchResults.length === 0) { %>
    <p>No results found.</p>
<% } else { %>
    <ul>
        <% searchResults.forEach(result => { %>
            <li>
                <% if (result.type === 'product') { %>
                    <!-- Include product result template -->
                    <% include('./results/productResult.ejs', { product: result.data }) %> 
                <% } else if (result.type === 'customer') { %>
                    <!-- Include customer result template -->
                    <% include('./results/customerResult.ejs', { customer: result.data }) %> 
                <% } else if (result.type === 'vendor') { %>
                    <!-- Include vendor result template -->
                    <% include('./results/vendorResult.ejs', { vendor: result.data }) %> 
                <% } else if (result.type === 'recipe') { %>
                    <!-- Include recipe result template -->
                    <% include('./results/recipeResult.ejs', { recipe: result.data }) %> 
                <% } else { %>
                    <p>Unknown result type.</p>
                <% } %>
            </li>
        <% }); %>
    </ul>
<% } %>