<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A Customer</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>

<%- include('./partials/header.ejs') %>

<body>
<div>
  <div class="home">  
    <div class="customer-content">
      <h2>Customer:</h2>
      <% if (aCustomer && aCustomer.length > 0) { %>
          <% aCustomer.forEach(function(customer) { %>
            <% include('./partials/customer.ejs', { customer, customer_account, customer_address }) %>
          <% }) %>
      <% } else { %>
          <p>No customer found</p>
      <% } %>
    </div>
  </div>
</div>
</body>
</html>
