<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Newfie Nook</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
  <header>
  <div class = "announcementBar">
    <h2>Discover Favourite Treats & Local Treasures From The Rock!</h2>
  </div>

  <nav> 
    <div class = "navBox" id = "navBox1">
      <a href = "/">
        <img src = "/images/home (1).png" alt = "Home" class = "icon" id = "homeIcon"  />
      </a>
    </div>

    <div class = "navBox" id = "navBox2">
      <a href = "/pages/contact">
        <img src = "/images/email.png" alt = "Contact" class = "icon" id = "contactIcon" />
      </a>
    </div>
    
    <img src = "/images/nlNookLogo.png" alt = "Newfie Nook Logo" class = "logo" />

    <div class = "navBox" id = "navBox3">
      <a href = "/pages/about">
        <img src = "/images/information.png" alt = "About" class = "icon" id = "infoIcon" />
      </a>
    </div>

    <div class = "navBox" id = "navBox4">
      <a href = "/pages/account">
        <img src = "/images/profile.png" alt = "LogIn" class = "icon" id = "logInIcon" />
      </a>
    </div>

  </div>
  </nav>

  <div class ="banner">
    <img src = "/images/nlbanner.png" alt = "Newfoundland Banner" class = "bannerImg" />
  </div>
</header>

<div class="home">

  <h1>All Products:</h1>
  <% if (theProducts.length > 0) { %>
    <% theProducts.forEach(product => { %>

      <%- include('./partials/product.ejs', {product: product}) %>

        <br />
        </div>
      <% }); %>
  <% } else { %>
      <p>No products found.</p>
  <% } %>
</div>
<script type="module" src="/scripts/scripts.js"></script>
</body>
</html>


