<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Recipes</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>

<%- include('./partials/header.ejs') %>

<body>
  <% if (theRecipes && theRecipes.length > 0) { %>
    <% theRecipes.forEach(function(recipe) { %>
      <div class="recipeDiv">
        <div class="label-data-pair">
            <b>Recipe ID:</b> <%= recipe %>
        </div>
        <div class="label-data-pair">
            <b>Recipe Name:</b> <%= recipe.title %>
        </div>
        <br />
      </div>
    <% }) %>
  <% } else { %>
    <p>No recipes found.</p>
  <% } %>
<!-- <%- include('./partials/recipe.ejs') %> -->

</body>
</html>