<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A Product</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>

<%- include('./partials/header.ejs') %>

<body>
<div>
  <div class="home">  
    <div class="product-content">
      <h2>Product:</h2>
      <% if (aProduct && aProduct.length > 0) { %>
          <% aProduct.forEach(function(product) { %>
            <% include('./partials/product.ejs', { product }) %>
          <% }) %>
      <% } else { %>
          <p>No products found</p>
      <% } %>
    </div>
  </div>
</div>
</body>
<%- include('./partials/footer.ejs') %>
</html>
