<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A Vendor</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>

<%- include('./partials/header.ejs') %>

<body>
<div>
  <div class="home">  
    <div class="vendor-content">
      <h2>vendor:</h2>
      <% if (aVendor && aVendor.length > 0) { %>
          <% aVendor.forEach(function(vendor) { %>
            <% include('./partials/vendor.ejs', { vendor }) %>
          <% }) %>
      <% } else { %>
          <p>No vendors found</p>
      <% } %>
    </div>
  </div>
</div>
</body>
</html>
