<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QAP3</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/index.css">
</head>

<%- include('./partials/header.ejs') %>



<body>
  <div class="home">
    <h1>Welcome <%= user.first_name %> <%= user.last_name %>!</h1>

    <h3>View All Customers:</h3>
    <a href="/customer/all/">All Customers</a>

    <h3>View A Customer:</h3>
    <form id="customer-form" action="/customer/id/:customer_id/" method="POST">
      <label for="customer-id">Enter Customer ID:</label>
      <input type="text" id="customer-id" name="id" required>
      <input type="submit" value="Get Customer">
    </form><br />

    <h3>View All Products:</h3>
    <a href="/product/all/">All Products</a>

    <h3>View A Product:</h3>
    <form id="product-form" action="/product/id/:product_id/" method="POST">
      <label for="product-id">Enter Product ID:</label>
      <input type="text" id="product-id" name="id" required>
      <input type="submit" value="Get Product">
    </form><br />

    <h3>View All Vendors:</h3>
    <a href="/vendor/all/">All Vendors</a>

    <h3>View A Vendor:</h3>
    <form id="vendor-form" action="/vendor/id/:vendor_id/" method="POST">
      <label for="vendor-id">Enter Vendor ID:</label>
      <input type="text" id="vendor-id" name="id" required>
      <input type="submit" value="Get Vendor">
    </form><br />

    <h3>View All Recipes:</h3>
    <a href="/recipe/all/">All Recipes</a>

    <h3>View A Recipe:</h3>
    <form id="recipe-form" action="/recipe/id/:recipe_id/" method="POST">
      <label for="recipe-id">Enter Recipe ID:</label>
      <input type="text" id="recipe-id" name="id" required>
      <input type="submit" value="Get Recipe">
    </form><br />

    <h3>View All Orders:</h3>
    <a href="/signup/">Sign Up New Customer</a>

    <% if (user) { %>
      <a href="/login/">Logout</a>
    <% } else { %>
      <a href="/login/">Login</a>
    <% } %>

    <h3>Search Engine:</h3>
    <a href="/search/">Search Engine</a>

    <h3>Change Customer Information:</h3>
    <form id="edit-customer-form" action="/customer/edit/:customer_id/" method="POST">
      <label for="edit-id">Enter Customer ID:</label>
      <input type="text" id="edit-id" name="id" required>
      <input type="submit" value="Edit Customer">
    </form><br />

    <h3>Delete Customer:</h3>
    <form id="delete-customer-form" action="/customer/delete/" method="POST">
      <label for="delete-id">Enter Customer ID:</label>
      <input type="text" id="delete-id" name="customer_id" required>
      <input type="submit" value="Delete Customer">
    </form>
  </div><br />

  <script>
    console.log('Script is running');
    document.getElementById('delete-customer-form').addEventListener('submit', function(event) {
      console.log('Form submitted');
      event.preventDefault();
      const id = document.getElementById('delete-id').value;
      fetch('/customer/delete/' + id, {
        method: 'POST',
        credentials: 'same-origin'
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        console.log('Redirecting to /customers/');
        window.location.href = '/customers/';
      })
      .catch(error => {
        console.error('There has been a problem with your fetch operation:', error);
      });
    });

    document.getElementById('edit-customer-form').addEventListener('submit', function(event) {
      event.preventDefault();
      const id = document.getElementById('edit-id').value;
      window.location.href = '/customer/edit/' + id;
    });
  </script>
</body>
</html>
