<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Page</title>
  <link rel="stylesheet" href="/styles/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<%- include('./partials/header.ejs') %>
<body>
<div class="home">
  <h1>Newfie Nook Search:</h1>

  <a href="/customer/search/">Search Customers</a>
  <a href="/product/search/">Search Products</a>
  <a href="/vendor/search/">Search Vendors</a>
  <a href="/recipe/search/">Search Recipes</a>

  <!-- Form for search query, database selection, and user ID -->
  <div class="searchEngine">
    <form id="search-form" action="/search/" method="POST">
      <label for="search">Search:</label>
      <input type="text" id="search" name="search" placeholder="Enter your search for customers, products, vendors, & recipes.." required>
      
      <!-- Dropdown for selecting database -->
      <label for="database">Select Database:</label>
      <select id="database" name="database">
        <option value="pg">PostgreSQL - Customers, Products, & Vendor Search</option>
        <option value="mongo">MongoDB - Recipes Search </option>
        <option value="both">Both</option>
      </select>
      
      <!-- Hidden input field to capture user ID -->
      <input type="hidden" id="customer-id" name="customer_id" value="<%= user.customer_id %>">
      <br />
      <button class="submitButton" id="submit" type="submit">Search</button>
    </form>
  </div>

  <!-- Container for displaying search results -->
  <div id="search-results-container">
    <!-- Initially empty, will be populated with search results dynamically -->
  </div>
</div>

<script>
  $('#search-form').on('submit', function(event) {
  event.preventDefault();

  // Get the user_id, query, and database
  var user_id = $('#customer-id').val();
  var query = $('#search').val(); 
  var database = $('#database').val();

  // Send an AJAX request to the server
  $.ajax({
    url: '/search/', 
    method: 'POST',
    data: {
      user_id: user_id,
      query: query,
      database: database
    },
    success: function(response) {
      // Display search results in the container
      $('#search-results-container').html(response);
    },
    error: function(xhr, status, error) {
      // Display error message
      $('#search-results-container').html('<p>An error occurred. Please try again later.</p>');
      console.error('Error:', error);
    }
  });
});
</script>

</body>
</html>
