<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Page</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>

<%- include('./partials/header.ejs') %>

<body>
<div class = "home">
<div class="add-content">
  <h1>Sign Up:</h1>
  <form action="/signup/" method="POST">
    <h2>New User:</h2>
    <label>
      First Name:
      <input class="addForm" type="text" name="newUser[first_name]" placeholder="First Name" required>
    </label>
    <label>
      Last Name:
      <input class="addForm" type="text" name="newUser[last_name]" placeholder="Last Name" required>
    </label>
    <label>
      Gender:
      <input class="addForm" type="text" name="newUser[gender]" placeholder="Gender" required>
    </label>
    <label>
      Email:
      <input class="addForm" type="text" name="newUser[email]" placeholder="Email" required>
    </label>
    <label>
      Phone Number:
      <input class="addForm" type="text" name="newUser[ph_num]" placeholder="Phone Number" required>
    </label>
    <label>
      Payment Method:
      <input class="addForm" type="text" name="newUser[pay_method]" placeholder="Payment Method" required>
    </label>
    <label>
      Street Address:
      <input class="addForm" type="text" name="newUserAddress[street_address]" placeholder="Street Address" required>
    </label>
    <label>
      City:
      <input class="addForm" type="text" name="newUserAddress[city]" placeholder="City" required>
    </label>
    <label>
      Province:
      <input class="addForm" type="text" name="newUserAddress[province]" placeholder="Province" required>
    </label>
    <label>
      Postal Code:
      <input class="addForm" type="text" name="newUserAddress[postal_code]" placeholder="Postal Code" required>
    </label>
    <label>
      Country:
      <input class="addForm" type="text" name="newUserAddress[country]" placeholder="Country" required>
    </label>
    <label>
      Username:
      <input class="addForm" type="text" name="newUserAccount[username]" placeholder="Username" required>
    </label>
    <label>
      Password:
      <input class="addForm" type="password" name="newUserAccount[password]" placeholder="Password" required>
    </label>
    <label>
      Confirm Password:
      <input class="addForm" type="password" name="password" placeholder="Password" required>
    </label>
    <br />
    <button>ADD USER</button>
  </form>
</div>
</div>
</body>
</html>