<header>
  <div class = "announcementBar">
    <h2>Discover Favourite Treats, Recipes & Local Treasures From The Rock!</h2>
  </div>

  
  <nav> 
    <div class = "navBox" id = "navBox1">
      <a href = "/">
        <img src = "/images/home (1).png" alt = "Home" class = "icon" id = "homeIcon"  />
      </a>
    </div>

    <div class = "navBox" id = "navBox2">
      <a href = "/pages/contact">
        <img src = "/images/email.png" alt = "Contact" class = "icon" id = "contactIcon" />
      </a>
    </div>
    
    <img src = "/images/nlNookLogo.png" alt = "Newfie Nook Logo" class = "logo" />

    <div class = "navBox" id = "navBox3">
      <a href = "/pages/about">
        <img src = "/images/information.png" alt = "About" class = "icon" id = "infoIcon" />
      </a>
    </div>

    <div class="navBox" id="navBox4">
      <a href="/logout/">
        <img src="/images/logout_1.png" alt="LogOut" class="icon" id="logOutIcon" />
      </a>
    </div>
    
    

  </div>
  </nav>
</header>