body {
  background-color: #252525;
  color: rgb(139, 139, 139);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('/images/beach.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; /* This line moves the image up */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  margin: 2vh auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.25); /* More transparent white */
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Slightly darker shadow */
  /* border: 2px solid #ff0080b4; */
  position: relative;
  top: 100px;
}


  h1 {
    color: #000000b4;
    margin-bottom: 20px;
  }


h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"] {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 20px; /* Adjusted padding */
  background: -webkit-linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(330, 100%, 50%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ff0080b4;
}

/* CSS to style the button */
button {
  background-color: #ff0080b4; 
  color: white; 
  padding: 10px 20px; 
  font-size: 20px; 
  border: none; 
  cursor: pointer; 
  display: block; 
  margin: 0 auto; 
  border-radius: 4px;
  cursor: pointer;


}

.announcementBar {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  color: #ccc;
  position: relative;
  top: 20px;
}

nav {
  height: 15vh;
  width: 100%;
  background-color: #ff0080b4;
  background: -webkit-linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(330, 100%, 50%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  padding: 10px;
  border-bottom: 2px solid #ff0080;
  border-top: 2px solid #ff0080;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 85px;
}

.logo {
  height: 35vh;
  width: auto;
  margin: 10px 0;  /* Adjusted margin */
  z-index: 9999; /* Set a high z-index to make sure it's on top */

}

.icon {
  height: auto;
  width: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  border-radius: 50%;
  width: 5vw;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.3);
}


.navBox a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.dropdown:hover .dropbtn {
  background-color: none;
}

.navBox.dropdown {
  display: inline-block;
  background-color: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 20vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navBox:hover {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.7); 
}

.dropdownLink a {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.icons {
  height: 35px;
  width: 35px;
  margin: 5px;
  margin-right: 10px;
}

.box{
  color:white;
  text-align: center;
  position: relative;
}

.cart-count{
  position: absolute;
  background-color: #2f3542;
  top: -5px;
  right: 0;
  padding: 3px;
  height: 20px;
  width: 20px;
  line-height:20px ;
  border-radius: 50%;
  z-index: 99;
}

#cart-icon{
  font-size: 1.5rem;
  cursor: pointer;
  padding-top: 10px;
}

h2.title{
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color:#fff;
}

.shop-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,auto));
  gap:1.5rem;
  justify-content: center;
  align-content: center;
}

.food-box{
  position: relative;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  border-radius: 3px;
}

.pic {
  overflow: hidden;
}

.pic:hover img{
transform: scale(1.5);
}

.food-img{
  transition: 0.4s;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.food-title{
  font-size: 1rem;
  font-weight: 600;
  color:#ff6348;
}

.food-price{
  font-weight:500 ;
}

.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #2ed573;
  color:white;
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.5s;
}

.add-cart:hover{
  background-color:rgba(255, 0, 0, 0.786);
}
  

.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.929);
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 100;
}

.cart-active{
  right:0;
  transition: 0.5s;
}

.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom:20px ;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

.cart-img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border:2px solid  rgba(0,0,0,0.1);
  padding: 5px;
}
.detail-box{
  display: grid;
  row-gap: 0.5rem;  
}

.price-box{
  display: flex;
    justify-content: space-between; 
}

.cart-food-title{
   font-size: 1rem;
   text-transform: uppercase;
   color:#ff6348;
   font-weight: 500;
}

.cart-price{
  font-weight: 500;
}

.cart-quantity{
  border:1px solid rgba(0,0,0,0.1);
  outline:none ;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove{
  font-size: 24px;
  color:red;
  cursor: pointer;
}

.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.total-title{
  font-size: 1rem;
  font-weight: 600;
}

.total-price{
  margin-left: 0.5rem;
}

.btn-buy{
  padding: 12px 20px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#cart-close{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  cursor: pointer;
  border: none;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh fit-content;
  width: 90%;
  border-radius: 10px;
  border: 1px solid #57ff5db1;
  margin: 10vh 2vw;
  padding: 10vh 2vw;
  background-color: #039F4C;
  background: hsla(0, 0%, 12%, 1);
  background: linear-gradient(180deg, hsla(0, 0%, 12%, 1) 0%, hsla(148, 96%, 32%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(0, 0%, 12%, 1) 0%, hsla(148, 96%, 32%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  background: -webkit-linear-gradient(180deg, hsla(0, 0%, 12%, 1) 0%, hsla(148, 96%, 32%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  color: black;
}

.home a {
  color: white;
  text-decoration: none;
}

.aboutText {
  margin: 5vh 8vw;
}

.checkout {
  margin: 5vh 8vw;
}

.prodImg {
  width: 15vw;
  height: auto;
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 5vh 5vw;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff0080;
  background-color: #ff0080b4;
  background: linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(330, 100%, 50%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(330, 100%, 50%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(330, 100%, 50%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.3);
  
}

.productsH1 {
  color: black;
}

.collaborators {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: top;
  margin: 5vh 5vw;
  text-decoration: none;
  color: white;
}

.customers-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  
}

.customerDiv {
  display: flex;
  flex-direction: column;
}

.label-data-pair {
  margin-bottom: 5px; 
}

.label-data-pair b {
  display: inline;
  font-weight: bold;
}

.search-type {
  display: inline-block;
  margin-right: 20px; 
}

.search-form {
  display: none;
}

.customer-content {
  color: black;
}

.buttonDiv {
  text-decoration: none;
  color: white;
  margin: 5vh 5vw;
}

.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.backButton {
  color: white;
  display: flex;
  justify-content: center;
  align-items: top;
}

.productDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh 10vw;
  padding: 5vh 5vw;
  background: 
  linear-gradient(90deg, 
    hsla(147, 100%, 30%, 1) 0%, 
    hsla(0, 0%, 100%, 1) 32%, 
    hsla(0, 0%, 100%, 1) 68%, 
    hsla(330, 100%, 80%, 1) 100%
  );
  border-radius: 10px;
  border: 2px solid black;
  color: black;
}

.productDiv img {
  margin: 20px;
}

.productDiv h2 {
  color: black;
}
.allRecipes {
  display: flex;
  width: 95%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff0080b4;
  background: linear-gradient(180deg, hsla(0, 0%, 12%, 1) 0%, hsla(330, 100%, 50%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(0, 0%, 12%, 1) 0%, hsla(330, 100%, 50%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  background: -webkit-linear-gradient(180deg, hsla(0, 0%, 12%, 1) 0%, hsla(330, 100%, 50%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  border-radius: 10px;
  border: 1px solid #57ff5db1;
  margin: 5vh 5vw;
  color: white;
}

.recipeGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: stretch; /* Make all items have the same height */
  justify-content: center;
  color: white;
}

.recipeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vh 2vw;
  margin: 1vh 3vw;
  background: 
  linear-gradient(90deg, 
    hsla(147, 100%, 30%, 1) 0%, 
    hsla(0, 0%, 100%, 1) 32%, 
    hsla(0, 0%, 100%, 1) 68%, 
    hsla(330, 100%, 80%, 1) 100%
  );
  border-radius: 10px;
  border: 2px solid black;
  color: black;
}

.recipeDiv a {
  text-decoration: none;
  color: black;
}

.submitButton {
  border: 1px solid black;
  border-radius: 5px;
}


h2 {
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

.form-group {
  margin-bottom: 15px;
  margin-right: 25px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1); /* More transparent white */
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */}

button:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5; /* New background color */
}


button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.footer {
  background: -webkit-linear-gradient(90deg, hsla(0, 0%, 12%, 1) 0%, hsla(330, 100%, 50%, 1) 50%, hsla(0, 0%, 12%, 1) 100%);
  color: #fff;
  padding: 30px 0;
  position: relative; /* Added for absolute positioning of copyright */
}

.footer p {
  margin-bottom: 0;
  font-size: 12px; /* Smaller font size for copyright */
  position: absolute; /* Positioning the copyright */
  bottom: 20px; /* 20px up from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

.social-icons {
  list-style-type: none;
  padding: 0;
  text-align: center; /* Center the social icons */
}

.social-icons li {
  display: inline;
  margin-right: 15px; /* Space between social icons */
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.social-icons a:hover {
  color: #c2f4ae;
}

